.notification { position: absolute; left: 12.772px; top: 332.12px; width: 386.457px; height: 90.788px; border: 0; border-radius: 38px; padding: 0; background: transparent; }
.notification:active { background: rgb(255 255 255 / .15); }
.close { position: absolute; left: 306.1px; top: 229.33px; width: 44px; height: 44px; border: 0; border-radius: 50%; padding: 0; background: transparent; }
.close:active { background: rgb(255 255 255 / .3); }
